body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    background: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.content {
    padding: 10px;
}

.badge-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge-container a {
    margin: 0 10px;
}

.publication li {
    font-size: 20px;
    margin-bottom: 10px;
}

        .video-container {
            position: relative;
            width: 640px;
            height: 480px;
        }
        .video-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }